h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}
.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}
.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
@media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
}
.gallery__row, .row {
    margin: 15px;
}
.big_image {
    margin: 0 auto;
    border-radius: 10px;
}
.calculator_alt {
    width: 250px;
    height: 350px;
    border: 1px solid #ссс;
    margin: 100px auto 0;
    text-align: center;
    box-shadow: 0 0 30px grey;
    border-radius: 4px;
}
.calculator__form {
    height: 100%;
    padding: 20px;
}
.calculator__row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.calculator__display {
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid darkslateblue;
    padding: 4px 2px;
    text-align: right;
    font: 700 16px/1 Arial, sans-serif;
    color: darkslateblue;
    background-color: whitesmoke;
}
.calculator__key {
    width: 41px;
    height: 35px;
    cursor: pointer;
    background-color: #999999;
    border: none;
    transition: all .2s;
    text-transform: uppercase;
}
.calculator__equal {
    width: 98px;
}
.calculator__key:hover {
    background-color: #606060;
    font-weight: 700;
}
.calculator__key::-moz-focus-inner {
    border: none
}
.display_none {
    display: none;
}
#cart_quant {
    color: red;
    font-weight: 500;
}